<!-- Start footer -->
<footer id="mu-footer">
  <div class="mu-footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="mu-single-footer">
            
            <p>CONTEXTO</p>
            <div class="mu-social-media">
              <a href="https://github.com/gaspachoio"><i class="fa fa-github"></i></a>
              <a class="mu-twitter" href="https://twitter.com/GaspachoDev"><i class="fa fa-twitter"></i></a>
              <a class="mu-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
              <a class="mu-youtube" href="#"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mu-single-footer">
            <h3>Twitter feed</h3>
            <ul class="list-unstyled">
                <li class="media">
                 <span class="fa fa-twitter"></span>
                  <div class="media-body">
                    <p><strong>@b_hero</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <a href="#">2 hours ago</a>
                  </div>
                </li>
                <li class="media">
                  <span class="fa fa-twitter"></span>
                  <div class="media-body">
                    <p><strong>@b_hero</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <a href="#">2 hours ago</a>
                  </div>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mu-single-footer">
            <h3>Useful link</h3>
            <ul class="mu-useful-links">
              <li><a href="https://github.com/mers85/contextos">Context repository</a></li>
              <li><a href="#">What is a context?</a></li>
              <li><a href="#">How to create a context?</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mu-single-footer">
            <h3>Contact Information</h3>
            <ul class="list-unstyled">
              <li class="media">
                <span class="fa fa-home"></span>
                <div class="media-body">
                  <p>349 Main St, Deseronto, ON K0K 1X0, Canada</p>
                </div>
              </li>
              <li class="media">
                <span class="fa fa-phone"></span>
                <div class="media-body">
                   <p>+00 123 456 789 00</p>
                  <p>+ 00 254 632 548 00</p>
                </div>
              </li>
              <li class="media">
                <span class="fa fa-envelope"></span>
                <div class="media-body">
                 <p>support@bhero.com</p>
                 <p>help.behero@gmail.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-footer-bottom-area">
              <p><a href="https://github.com/gaspachoio">Gaspacho Software</a> &middot; <a href="#">Terms</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</footer>
<!-- End footer -->
