<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 text-muted">Contextos</h1>
    <p class="lead text-muted">
      Platform saves data input and shows information as a card on the page.
    </p>
    <p class="lead text-muted">
      The goal of this platform is to incorporate all the data and analyze the information.
    </p>
  </div>
</div>

<!-- Start from blog -->
<section id="mu-from-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-from-blog-area">
          <!-- Title -->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="mu-title">
                <h2>From Our Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mu-from-blog-content">
                <div class="row">
                  <% @contexts.each do |context|%>
                  <%= render 'contexts/context_card', context: context  %>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End from blog -->
