<!-- Start Portfolio -->
<section id="mu-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-portfolio-area">
          <!-- Title -->
          <div class="row">
            <div class="col-md-12">
              <div class="mu-title">
                <h2>Contexts</h2>
                <% if current_user%>
                  <%= link_to 'Add context', new_context_path(@context), class: "btn btn-outline-secondary btn-sm mb-3" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
              <!-- Start Portfolio Filter -->
              <div class="mu-portfolio-filter-area">
                <ul class="mu-simplefilter">
                  <li class="active" data-filter="all" href="/contexts">All</li>
                  <% @categories.each do |category|%>
                  <li data-filter="1"><span>/</span><%= link_to category.name, category_path(category) %></li>
                  <%end%>
                </ul>
              </div>

              <!-- Start Portfolio Content -->
              <div class="mu-portfolio-content">
                <div class="row">
                  <% @contexts.each do |context| %>
                    <%= render 'context_card', context: context  %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
