
<div class="card-body form-row" style="margin:-33px;padding:46px">
  <div class="col-md-4 mb-3">
    <h1>New Context</h1>
  </div>
</div>


  <%= render 'form' %>
<div class="card-body form-row" style="margin: 34px;padding: 1px">
  <p class="btn btn-outline-primary btn-lg disabled" ><%= link_to 'Back', contexts_path %></p>
</div>
