/*--------------------*/
/* PORTFOLIO */
/*--------------------*/

#mu-portfolio {
	display: inline;
	float: left;
	width: 100%;
}

.mu-portfolio-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-portfolio-content{
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}

.mu-portfolio-filter-area{
	display: inline;
	float: left;
	width: 100%;
}

.filtr-item {
	margin-bottom: 0px;
	padding: 16px;
	transform-style: unset !important;
}

.mu-imglink {
	background-color: transparent;
}

.filtr-item h4 {
	font-size: 14px;
}

.mu-filter-item-content {
	background-color: #0091ea;
	position: absolute;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
	color: #fff;
	padding-top: 27%;
	text-align: center;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.filtr-item:hover .mu-filter-item-content {
	-webkit-transform: scale(0.9);
	        transform: scale(0.9);
}

/* Filter controls */

.mu-simplefilter {
	text-align: center;
}

.mu-simplefilter li {
	color: #323232;
	cursor: pointer;
	display: inline-block;
	margin: 0 6px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 16px;
	font-weight: 700;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-simplefilter li span {
	margin-right: 16px;
}

.mu-simplefilter li:hover,
.mu-simplefilter li.active {
    color: #0091ea;
}
